body {
    padding: 0px;
    margin: 0px;
    background-image: url(../images/solo-cup.jpg);
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
}

#game {
    text-align: center;
    margin: 0px 200px 0px 200px;
    padding: 10px 0px 50px 0px;
}

#header {
    margin-bottom: 5px;
    background: #382783;
}

#start {
    margin-bottom: 30px;
}

h1 {
    padding: 30px;
    font-size: 70px;
    font-family: 'Orbitron', sans-serif;
}

#myForm {
    background: #382783;
}

#counter {
    padding: 10px;
}

h2 {
    font-size: 40px;
}

#clock {
    font-size: 30px;
}

.question {
    padding: 20px;
}

h3 {
    font-size: 25px;
}

label {
    font-size: 25px;
}

#done {
    margin-bottom: 30px;
}

button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #04c5c8a4;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:white;
    text-align:center;
    transition: all 0.2s;
    font-size: 125%;
    background-color: #04c6c8;
}
button:hover {
    color:#000000;
    background-color:#04c5c8a4;
}

#score {
    background: #382783;
}

h4 {
    font-size: 50px;
    padding: 5px;
    margin-bottom: 20px;
}

p {
    font-size: 40px;
    margin-bottom: 5px;
}

.answercount {
    font-size: 40px;
    margin-bottom: 20px;
}

#restart {
    margin-bottom: 30px;
}