body {
    padding: 0px;
    margin: 0 px;
    background-image: url(../images/background.jpg);
    font-family: 'Neucha', cursive;
    color: white;
}

#game {
    background: #373cab;
    text-align: center;
    margin: 0px 200px 0px 200px;
}

header {
    padding: 30px;
    font-size: 80px;
}

#start {
    background: white;
}

#counter {
    padding: 10px;
}

.question {
    padding: 20px;
}

#done {
    margin: 10px;
}